[
  {
    title: "Magic Project"
    paths: [
      "/home/zugor/code/magic-project"
    ]
    devMode: true
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 7.1
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
]
